---
import Layout from '../layouts/Layout.astro';
import {marked} from 'marked';
import { getReleases } from '../components/getReleases';
import { niceDateIso } from '../components/niceData';

const releases = (await getReleases()).map(release => ({
  id: release.id,
  name: release.name,
  date: release.published_at,
  niceDate: niceDateIso(release.published_at ?? ""),
  body: marked.parse(release.body ?? ""),
  url: release.html_url
}));


---
<Layout title="Flowchart Fun Changelog">
  <h1>Changelog</h1>
  <div class="releases">
    {releases.map(release => 
      <section>
        <hgroup>
          <h2>{release.name}</h2>
          <time datetime={release.date}>{release.niceDate}</time>
          <a href={release.url} class="view-on-github-btn">View on GitHub</a>
        </hgroup>
        <div class="changelog-section-content" set:html={release.body} />
      </section>
    )}
  </div>
</Layout>

<style>
  hgroup {
    display: grid;
    grid-template-columns: auto auto minmax(0, 1fr);
    align-items: baseline;
    justify-content: start;
    gap: 1rem;
    justify-items: end;
  }
  
  a {
    color: var(--blue-500);
    text-decoration: none;
  }

  time {
    display: block;
    color: var(--grey);
  }

  .view-on-github-btn {
    background-color: var(--blue-100);
    color: var(--blue-500);
    padding: 4px 8px;
    align-self: center;
    border-radius: var(--border-radius);
    font-size: 14px;
  }
</style>

<style is:global>
  .changelog-section-content a {
    color: var(--blue-500);
    text-decoration: none;
  }
</style>